<div class="panel panel-default" ng-init="Single()">
      <div class="panel-heading">
    <h3 class="panel-title">Latest News</h3>
    </div>

      <div class="panel-body">

        <div class="row">
          
           <div class="col-md-6">
           <div class="col-md-6">
            <h4>{{sport.title}}</h4>
            <p>{{sport.description}}</p>
            <a class="btn btn-primary" href="{{sport.url}}">View full news</a>
          </div>
          <div class="col-md-6">
            <img class="thumbnail" src="{{sport.img_url}}" height="300px" width="200px">
          </div>  
          </div>
        </div>
<div class="pull-right">
  <a href="/edit/{{sport._id}}">Edit</a> |  <a href="/" ng-click="deleteController.Destroy(sport._id)">Delete</a>
  </div> 
    </div>

    