<div class="container" ng-init="Sport()">

          
      

      
<!--
        <div class="row">
          <div ng-repeat="sport in  sports">
           <div class="col-md-6">
           <div class="col-md-6">
            <h4>{{sport.title}}</h4>
            <p>{{sport.description}}</p>
            <a class="btn btn-primary" href="{{sport.url}}">View full news</a>
          </div>
          <div class="col-md-6">
            <img class="thumbnail" src="{{sport.img_url}}" height="300px" width="200px">
          </div>  
          </div>
        </div> -->


<h2>Breaking News</h2><hr>
<div class="row">
        <div class="col-lg-8 col-sm-6 portfolio-item" ng-repeat="sport in  sports">
          
            <img  src="{{sport.img_url}}">
            <div class="card-body">
              <h4 class="card-title">
                <a href="/details/{{sport._id}}">{{sport.title}}</a>
              </h4>
              <p class="card-text">{{sport.description}}</p>
            
          </div>
        </div>
        
      
    </div> 
       

</div>
    