<div class="container" ng-init="Sport()">
      <div>
          <h1 class="title"><center>News from around the World</center></h1><hr>
      </div>

      <div ng-repeat="sport in  sports"> <!--
        <div class="row">
          <div class="col-md-8">
          <div class="card h-100">
            <img class="card-img-top" src="{{sport.img_url}}">
            <div class="card-body">
              <h4 class="card-title">{{sport.title}}</h4>
              <p>{{sport.description}}</p>
              <a class="btn btn-primary" href="{{sport.url}}">View full news</a>
            </div>
          </div>
          </div>
        <!</div>
          <div ng-repeat="sport in  sports">
           <div class="col-md-6">
           <div class="col-md-6">
            
            
            <a class="btn btn-primary" href="{{sport.url}}">View full news</a>
          </div>
          <div class="col-md-6">
            <img class="thumbnail" src="{{sport.img_url}}" height="300px" width="200px">
          </div>  
          </div>
        </div> 

      </div>
    </div> -->
    <div class="card mb-4">
            <h3 class="card-title">{{sport.title}}</h3>
            <img class="card-img-top" src="{{sport.img_url}}" alt="Card image cap">
            <div class="card-body"><br>
              
              <p ><h4>{{sport.description}}</h4></p><br>
              <a href="/details/{{sport._id}}" class="btn btn-primary">Read More &rarr;</a>
            </div><br>
            <hr>
  </div>
</div>
</div>

    